#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 6.5rem;
    
}
html{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    
}
body{
    margin: 0;
    background-color: grey;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    font-style: italic;
    background-color: lightgrey;
    box-shadow: 7px 7px;
    text-align: center;
    font-size: larger;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    color: floralwhite;
}


  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  /* Set a style for the button */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for button */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  
  /* Change styles for span  on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }