#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 6.5rem;
    
}

h3 {
    font-size: 30px;
    text-align:center;
    text-shadow: 2px 2px 5px white;
}

.logo {
    display:block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;

}
html{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    
}
body{
    margin: 0;
    background-color: grey;
    margin: 8px auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    font-style: italic;
    background-color: lightgrey;
    box-shadow: 7px 7px;
    text-align: center;
    font-size: larger;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

a:hover {
    color: floralwhite;
}

  
  